Q1. Create one variable containing following type of data:

(i) string


(ii) list


(iii) float


(iv) tuple

In [35]:
# Answer(Q1)
# (i) string
name = 'Priya'
print(f"{name}, type - {type(name)}")
# (ii) list
list = [1,2,3]
print(f"{list}, type - {type(list)}")
# (iii) float
float_var = 5.03
print(f"{float_var}, type - {type(float_var)}")
# (iv) tuple
tuple1 = (1,2,3)
print(f"{tuple1}, type - {type(tuple1)}")

print('-'*50)
a = [ "Priya", [1,2,3], 5.0, (15,20)]
print(a)
for i in a:
    print(f"{i}, type - {type(i)}")

Priya, type - <class 'str'>
[1, 2, 3], type - <class 'list'>
5.03, type - <class 'float'>
(1, 2, 3), type - <class 'tuple'>
--------------------------------------------------
['Priya', [1, 2, 3], 5.0, (15, 20)]
Priya, type - <class 'str'>
[1, 2, 3], type - <class 'list'>
5.0, type - <class 'float'>
(15, 20), type - <class 'tuple'>

Q2. Given are some following variables containing data:

(i)var1=‘‘


(ii) var2 = ‘[ DS , ML , Python]’


(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]


(iv) var4 = 1.

Answer:
    
(i)  var1=‘‘  - String

(ii) var2 = ‘[ DS , ML , Python]’  ---> String

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]  -->list


(iv) var4 = 1. -->Integer --> float

What will be the data type of the above given variable.

In [32]:
var1=''
print(f"{var1}, type - {type(var1)}")

var2 = '[ DS , ML , Python]'
print(f"{var2}, type - {type(var2)}")

var3 = [ 'DS' , 'ML' , 'Python' ]
print(f"{var3}, type - {type(var3)}")

var4 = 1.
print(f"{var4}, type - {type(var4)}")

, type - <class 'str'>
[ DS , ML , Python], type - <class 'str'>
['DS', 'ML', 'Python'], type - <class 'list'>
1.0, type - <class 'float'>

Q3. Explain the use of the following operators using an example:

(i) /

(ii) %

(iii) //

(iv) **

In [33]:
# Ans=wer(Q3)

# (i) / - is division operator used to perform division operation,Eg, as follows
c = 25/5
print('c = ',c)

# (ii) % - is mod operator used to get reminder in division operation,Eg, as follows

d = 27%5
print('d = ',d)

# (iii) //- is integer division operator used to get integer quoient in division operation,Eg, as follows

d = 29//5
print('d = ',d)

# (iv) **- is power operator used to get the power of a number,Eg, as follows

d = 5**2
print('d = ',d)

c =  5.0
d =  2
d =  5
d =  25

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [36]:
# Answer(Q4)
a = [ "Priya", [1,2,3], 5.0, (15,20), 10, 'abcd', {'name':'Ajit'},'c',True, ('abcd',70)]
print(f"List --> {a}")
print(f"Length = {len(a)}")
print('-'*50)
for i in a:
    print(f"{i}, type - {type(i)}")

List --> ['Priya', [1, 2, 3], 5.0, (15, 20), 10, 'abcd', {'name': 'Ajit'}, 'c', True, ('abcd', 70)]
Length = 10
--------------------------------------------------
Priya, type - <class 'str'>
[1, 2, 3], type - <class 'list'>
5.0, type - <class 'float'>
(15, 20), type - <class 'tuple'>
10, type - <class 'int'>
abcd, type - <class 'str'>
{'name': 'Ajit'}, type - <class 'dict'>
c, type - <class 'str'>
True, type - <class 'bool'>
('abcd', 70), type - <class 'tuple'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [37]:
# Answer(Q5)

A = int(input("Enter number(Divident) A"))
B = int(input("Enter number(Divisor) B"))
a1 = A
count = 0
if B == 0:
    print("Divisor is Zero")
else:
    while A-B >= 0:
        count += 1
        A = A-B
        if A == 0:
            print("{} is purely divisible by {} -> {} times divisible".format(a1,B,count))
            break
if A != 0 and A-B < 0:
    print("{} is not purely divisible by  {} -> {} times divisible with reminder {}".format(a1,B,count,A))

Enter number(Divident) A 3
Enter number(Divisor) B 0

Divisor is Zero

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [38]:
numbers_list = [*range(0, 25)]
print(numbers_list)
for no in numbers_list:
    if no%3 == 0:
        print(f"{no} is divisible by 3")
    else:
        print(f"{no} is not divisible by 3")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [39]:
# Answer(Q7)

# Mutable: It can be changable based on index,Eg: List
list = [1,2,3,4,5]
list[3] = 10
print(list)


# Immutable: It cannot be changable based on index, Eg: String, Tuples - it will throw error
name = 'Priya'
name[3] = 's'
print(name)

tuple1 = (20,30,40)
tuple1[1] = 100
print(tuple1)

[1, 2, 3, 10, 5]

TypeError: 'str' object does not support item assignment