Q1. How do you comment code in Python? What are the different types of comments?

Answer(Q1): 
We can command code by prefixed with #. Eg as follows.

In [4]:
## Comments
## for single we use ##
## this is a function
# this is a comment

"""
Example of multiline comments
hello this is a example of python
multi lines command
"""

'\nExample of multiline comments\nhello this is a example of python\nmulti lines command\n'

Q2. What are variables in Python? How do you declare and assign values to variables?

Answer(Q2):

A variable is a string of characters and numbers associated with a piece of information. The assignment operator, denoted by the “=” symbol, is the

operator that is used to assign values to variables in Python.Eg as follows.

In [5]:
x = 1
name = 'Priya'
float_no = 5.0

Q3. How do you convert one data type to another in Python?

Answer(Q3):

we can convert one data type to another by simply use the type name as a function. There are several built-in functions to perform conversion from

one data type to another. These functions return a new object representing the converted value.

Egs as follows.

In [10]:
no = int('5')
print(type(no))
str_number = str(5)
print(type(str_number))
tuple1 = (1,2,3)
list(tuple1)

<class 'int'>
<class 'str'>

[1, 2, 3]

Q4. How do you write and execute a Python script from the command line?

Answer(Q4):

The most basic and easy way to run a Python script is by using the python command. You need to open a command line and type the word python 

followed by the path to your script file like this:

python scriptfilename.py

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [11]:
# Answer(Q5):

my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]
print(sub_list)

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Answer(Q6):

Complex numbers are created from two real numbers. You can create it directly or you can use the complex function.

It is written in the form of (x + yj) where x and y are real numbers and j is an imaginary number which is the square root of -1.

the syntax of the complex function:

In [13]:
z  = 3 + 4j

print("Real part:", z.real)
# Real part: 3.0 

print("Imaginary part:", z.imag)
# Imaginary part: 4.0

print("Conjugate value:", z.conjugate())
# Conjugate value: 3 - 4j

Real part: 3.0
Imaginary part: 4.0
Conjugate value: (3-4j)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

Answer(Q7):

In [15]:
age = 25
print(age)

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

Answer(Q8):

In [16]:
price = 9.99
type(price) # float

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

Answer(Q9):

In [17]:
name = "Shunmuga Priya"
print(f"My name is {name}")

My name is Shunmuga Priya

Q10. Given the string "Hello, World!", extract the substring "World".

Answer(Q10):

In [19]:
string1 = "Hello, World!"
output_str = string1[7:12]
print(f"Extracted the substring is {output_str}")

Extracted the substring is World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

Answer(Q11):

In [20]:
is_student = True
if is_student:
    print("I'm a student")
else:
    print("I'm not a student")

I'm a student