Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?


Answer(Q1):

MongoDB:

MongoDB is a non-relational document database that provides support for JSON-like storage. The MongoDB database has a flexible data model that 

enables us to store unstructured data, and it provides full indexing support, and replication with rich and intuitive APIs.

non-relational databases:

A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems.

Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored.

Preferred to use MongoDB over SQL databases:

MongoDB is faster and more scalable,flexible than SQL. MongoDB is used to store unstructured data.

Q2. State and Explain the features of MongoDB.

Answer(Q2):

Features:

Schema-less Database: 
    
   It is the great feature provided by the MongoDB. A Schema-less database means one collection can hold different types of 
documents in it. Or in other words, in the MongoDB database, a single collection can hold multiple documents and these documents may consist of the different numbers of fields, content, and size. It is not necessary that the one document is similar to another document like in the relational databases. Due to this cool feature, MongoDB provides great flexibility to databases.
Document Oriented: In MongoDB, all the data stored in the documents instead of tables like in RDBMS. In these documents, the data is stored in fields(key-value pair) instead of rows and columns which make the data much more flexible in comparison to RDBMS. And each document contains its unique object id.


Indexing: 

   In MongoDB database, every field in the documents is indexed with primary and secondary indices this makes easier and takes less time to get or search data from the pool of the data. If the data is not indexed, then database search each document with the specified query which takes lots of time and not so efficient.


Scalability: 

   MongoDB provides horizontal scalability with the help of sharding. Sharding means to distribute data on multiple servers, here a large amount of data is partitioned into data chunks using the shard key, and these data chunks are evenly distributed across shards that reside across many physical servers. It will also add new machines to a running database.


Replication:

   MongoDB provides high availability and redundancy with the help of replication, it creates multiple copies of the data and sends these copies to a different server so that if one server fails, then the data is retrieved from another server.
Aggregation: It allows to perform operations on the grouped data and get a single result or computed result. It is similar to the SQL GROUPBY clause. It provides three different aggregations i.e, aggregation pipeline, map-reduce function, and single-purpose aggregation methods
High Performance: The performance of MongoDB is very high and data persistence as compared to another database due to its features like scalability, indexing, replication, etc.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.4.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (648 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 648.9/648.9 kB 19.9 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 38.7 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.4.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymongo


from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://priya:priya-mongo@cluster0.6yz2ugn.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)
db = client.test
print(db)

db = client['Employees']

coll_create = db["my_record"]

Database(MongoClient(host=['ac-fa4dknl-shard-00-00.6yz2ugn.mongodb.net:27017', 'ac-fa4dknl-shard-00-02.6yz2ugn.mongodb.net:27017', 'ac-fa4dknl-shard-00-01.6yz2ugn.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-i8qsuh-shard-0', tls=True), 'test')

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

Answer(Q3):

In [6]:
data = {"name" : "priya","class" : "data science masters ","timing " : "flexi"}

# Insert above records in the collection
rec = coll_create.insert_one(data)

# Lets Verify all the record at once present in the record with all the fields
all_record = coll_create.find()

# Printing all records present in the collection
for i in enumerate(all_record):
     print(i)
        
data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]   

coll_create.insert_many(data3)

all_record = coll_create.find()
print("***find***")  
# Printing all records present in the collection
for idx, record in enumerate(all_record):
     print(f"{idx}: {record}")
print("***find_one***")        
record = coll_create.find_one()    
print(record)

(0, {'_id': ObjectId('64a3a3096aa8a805c84c85f6'), 'name': 'priya', 'class': 'data science masters ', 'timing ': 'flexi'})
(1, {'_id': ObjectId('64a3a3096aa8a805c84c85f7'), 'name': 'Amy', 'address': 'Apple st 652'})
(2, {'_id': ObjectId('64a3a3096aa8a805c84c85f8'), 'name': 'Hannah', 'address': 'Mountain 21'})
(3, {'_id': ObjectId('64a3a3096aa8a805c84c85f9'), 'name': 'Michael', 'address': 'Valley 345'})
(4, {'_id': ObjectId('64a3a3096aa8a805c84c85fa'), 'name': 'Sandy', 'address': 'Ocean blvd 2'})
(5, {'_id': ObjectId('64a3a3096aa8a805c84c85fb'), 'name': 'Betty', 'address': 'Green Grass 1'})
(6, {'_id': ObjectId('64a3a3096aa8a805c84c85fc'), 'name': 'Richard', 'address': 'Sky st 331'})
(7, {'_id': ObjectId('64a3a3096aa8a805c84c85fd'), 'name': 'Susan', 'address': 'One way 98'})
(8, {'_id': ObjectId('64a3a3096aa8a805c84c85fe'), 'name': 'Vicky', 'address': 'Yellow Garden 2'})
(9, {'_id': ObjectId('64a3a3096aa8a805c84c85ff'), 'name': 'Ben', 'address': 'Park Lane 38'})
(10, {'_id': ObjectId('64a3a3096aa8a805c84c8600'), 'name': 'William', 'address': 'Central st 954'})
(11, {'_id': ObjectId('64a3a3096aa8a805c84c8601'), 'name': 'Chuck', 'address': 'Main Road 989'})
(12, {'_id': ObjectId('64a3a3096aa8a805c84c8602'), 'name': 'Viola', 'address': 'Sideway 1633'})
(13, {'_id': ObjectId('64a3a3a86aa8a805c84c8603'), 'name': 'priya', 'class': 'data science masters ', 'timing ': 'flexi'})
(14, {'_id': ObjectId('64a3a3a86aa8a805c84c8604'), 'name': 'Amy', 'address': 'Apple st 652'})
(15, {'_id': ObjectId('64a3a3a86aa8a805c84c8605'), 'name': 'Hannah', 'address': 'Mountain 21'})
(16, {'_id': ObjectId('64a3a3a86aa8a805c84c8606'), 'name': 'Michael', 'address': 'Valley 345'})
(17, {'_id': ObjectId('64a3a3a86aa8a805c84c8607'), 'name': 'Sandy', 'address': 'Ocean blvd 2'})
(18, {'_id': ObjectId('64a3a3a86aa8a805c84c8608'), 'name': 'Betty', 'address': 'Green Grass 1'})
(19, {'_id': ObjectId('64a3a3a86aa8a805c84c8609'), 'name': 'Richard', 'address': 'Sky st 331'})
(20, {'_id': ObjectId('64a3a3a86aa8a805c84c860a'), 'name': 'Susan', 'address': 'One way 98'})
(21, {'_id': ObjectId('64a3a3a86aa8a805c84c860b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'})
(22, {'_id': ObjectId('64a3a3a86aa8a805c84c860c'), 'name': 'Ben', 'address': 'Park Lane 38'})
(23, {'_id': ObjectId('64a3a3a86aa8a805c84c860d'), 'name': 'William', 'address': 'Central st 954'})
(24, {'_id': ObjectId('64a3a3a86aa8a805c84c860e'), 'name': 'Chuck', 'address': 'Main Road 989'})
(25, {'_id': ObjectId('64a3a3a86aa8a805c84c860f'), 'name': 'Viola', 'address': 'Sideway 1633'})
(26, {'_id': ObjectId('64a3a3c46aa8a805c84c8610'), 'name': 'priya', 'class': 'data science masters ', 'timing ': 'flexi'})
(27, {'_id': ObjectId('64a3a3c46aa8a805c84c8611'), 'name': 'Amy', 'address': 'Apple st 652'})
(28, {'_id': ObjectId('64a3a3c46aa8a805c84c8612'), 'name': 'Hannah', 'address': 'Mountain 21'})
(29, {'_id': ObjectId('64a3a3c46aa8a805c84c8613'), 'name': 'Michael', 'address': 'Valley 345'})
(30, {'_id': ObjectId('64a3a3c46aa8a805c84c8614'), 'name': 'Sandy', 'address': 'Ocean blvd 2'})
(31, {'_id': ObjectId('64a3a3c46aa8a805c84c8615'), 'name': 'Betty', 'address': 'Green Grass 1'})
(32, {'_id': ObjectId('64a3a3c46aa8a805c84c8616'), 'name': 'Richard', 'address': 'Sky st 331'})
(33, {'_id': ObjectId('64a3a3c46aa8a805c84c8617'), 'name': 'Susan', 'address': 'One way 98'})
(34, {'_id': ObjectId('64a3a3c46aa8a805c84c8618'), 'name': 'Vicky', 'address': 'Yellow Garden 2'})
(35, {'_id': ObjectId('64a3a3c46aa8a805c84c8619'), 'name': 'Ben', 'address': 'Park Lane 38'})
(36, {'_id': ObjectId('64a3a3c46aa8a805c84c861a'), 'name': 'William', 'address': 'Central st 954'})
(37, {'_id': ObjectId('64a3a3c46aa8a805c84c861b'), 'name': 'Chuck', 'address': 'Main Road 989'})
(38, {'_id': ObjectId('64a3a3c46aa8a805c84c861c'), 'name': 'Viola', 'address': 'Sideway 1633'})
(39, {'_id': ObjectId('64a3a3d16aa8a805c84c861d'), 'name': 'priya', 'class': 'data science masters ', 'timing ': 'flexi'})
***find***
0: {'_id': ObjectId('64a3a3096aa8a805c84c85f6'), 'name': 'priya', 'class': 'data science masters ', 'timing ': 'flexi'}
1: {'_id': ObjectId('64a3a3096aa8a805c84c85f7'), 'name': 'Amy', 'address': 'Apple st 652'}
2: {'_id': ObjectId('64a3a3096aa8a805c84c85f8'), 'name': 'Hannah', 'address': 'Mountain 21'}
3: {'_id': ObjectId('64a3a3096aa8a805c84c85f9'), 'name': 'Michael', 'address': 'Valley 345'}
4: {'_id': ObjectId('64a3a3096aa8a805c84c85fa'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
5: {'_id': ObjectId('64a3a3096aa8a805c84c85fb'), 'name': 'Betty', 'address': 'Green Grass 1'}
6: {'_id': ObjectId('64a3a3096aa8a805c84c85fc'), 'name': 'Richard', 'address': 'Sky st 331'}
7: {'_id': ObjectId('64a3a3096aa8a805c84c85fd'), 'name': 'Susan', 'address': 'One way 98'}
8: {'_id': ObjectId('64a3a3096aa8a805c84c85fe'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
9: {'_id': ObjectId('64a3a3096aa8a805c84c85ff'), 'name': 'Ben', 'address': 'Park Lane 38'}
10: {'_id': ObjectId('64a3a3096aa8a805c84c8600'), 'name': 'William', 'address': 'Central st 954'}
11: {'_id': ObjectId('64a3a3096aa8a805c84c8601'), 'name': 'Chuck', 'address': 'Main Road 989'}
12: {'_id': ObjectId('64a3a3096aa8a805c84c8602'), 'name': 'Viola', 'address': 'Sideway 1633'}
13: {'_id': ObjectId('64a3a3a86aa8a805c84c8603'), 'name': 'priya', 'class': 'data science masters ', 'timing ': 'flexi'}
14: {'_id': ObjectId('64a3a3a86aa8a805c84c8604'), 'name': 'Amy', 'address': 'Apple st 652'}
15: {'_id': ObjectId('64a3a3a86aa8a805c84c8605'), 'name': 'Hannah', 'address': 'Mountain 21'}
16: {'_id': ObjectId('64a3a3a86aa8a805c84c8606'), 'name': 'Michael', 'address': 'Valley 345'}
17: {'_id': ObjectId('64a3a3a86aa8a805c84c8607'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
18: {'_id': ObjectId('64a3a3a86aa8a805c84c8608'), 'name': 'Betty', 'address': 'Green Grass 1'}
19: {'_id': ObjectId('64a3a3a86aa8a805c84c8609'), 'name': 'Richard', 'address': 'Sky st 331'}
20: {'_id': ObjectId('64a3a3a86aa8a805c84c860a'), 'name': 'Susan', 'address': 'One way 98'}
21: {'_id': ObjectId('64a3a3a86aa8a805c84c860b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
22: {'_id': ObjectId('64a3a3a86aa8a805c84c860c'), 'name': 'Ben', 'address': 'Park Lane 38'}
23: {'_id': ObjectId('64a3a3a86aa8a805c84c860d'), 'name': 'William', 'address': 'Central st 954'}
24: {'_id': ObjectId('64a3a3a86aa8a805c84c860e'), 'name': 'Chuck', 'address': 'Main Road 989'}
25: {'_id': ObjectId('64a3a3a86aa8a805c84c860f'), 'name': 'Viola', 'address': 'Sideway 1633'}
26: {'_id': ObjectId('64a3a3c46aa8a805c84c8610'), 'name': 'priya', 'class': 'data science masters ', 'timing ': 'flexi'}
27: {'_id': ObjectId('64a3a3c46aa8a805c84c8611'), 'name': 'Amy', 'address': 'Apple st 652'}
28: {'_id': ObjectId('64a3a3c46aa8a805c84c8612'), 'name': 'Hannah', 'address': 'Mountain 21'}
29: {'_id': ObjectId('64a3a3c46aa8a805c84c8613'), 'name': 'Michael', 'address': 'Valley 345'}
30: {'_id': ObjectId('64a3a3c46aa8a805c84c8614'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
31: {'_id': ObjectId('64a3a3c46aa8a805c84c8615'), 'name': 'Betty', 'address': 'Green Grass 1'}
32: {'_id': ObjectId('64a3a3c46aa8a805c84c8616'), 'name': 'Richard', 'address': 'Sky st 331'}
33: {'_id': ObjectId('64a3a3c46aa8a805c84c8617'), 'name': 'Susan', 'address': 'One way 98'}
34: {'_id': ObjectId('64a3a3c46aa8a805c84c8618'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
35: {'_id': ObjectId('64a3a3c46aa8a805c84c8619'), 'name': 'Ben', 'address': 'Park Lane 38'}
36: {'_id': ObjectId('64a3a3c46aa8a805c84c861a'), 'name': 'William', 'address': 'Central st 954'}
37: {'_id': ObjectId('64a3a3c46aa8a805c84c861b'), 'name': 'Chuck', 'address': 'Main Road 989'}
38: {'_id': ObjectId('64a3a3c46aa8a805c84c861c'), 'name': 'Viola', 'address': 'Sideway 1633'}
39: {'_id': ObjectId('64a3a3d16aa8a805c84c861d'), 'name': 'priya', 'class': 'data science masters ', 'timing ': 'flexi'}
40: {'_id': ObjectId('64a3a3d16aa8a805c84c861e'), 'name': 'Amy', 'address': 'Apple st 652'}
41: {'_id': ObjectId('64a3a3d16aa8a805c84c861f'), 'name': 'Hannah', 'address': 'Mountain 21'}
42: {'_id': ObjectId('64a3a3d16aa8a805c84c8620'), 'name': 'Michael', 'address': 'Valley 345'}
43: {'_id': ObjectId('64a3a3d16aa8a805c84c8621'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
44: {'_id': ObjectId('64a3a3d16aa8a805c84c8622'), 'name': 'Betty', 'address': 'Green Grass 1'}
45: {'_id': ObjectId('64a3a3d16aa8a805c84c8623'), 'name': 'Richard', 'address': 'Sky st 331'}
46: {'_id': ObjectId('64a3a3d16aa8a805c84c8624'), 'name': 'Susan', 'address': 'One way 98'}
47: {'_id': ObjectId('64a3a3d16aa8a805c84c8625'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
48: {'_id': ObjectId('64a3a3d16aa8a805c84c8626'), 'name': 'Ben', 'address': 'Park Lane 38'}
49: {'_id': ObjectId('64a3a3d16aa8a805c84c8627'), 'name': 'William', 'address': 'Central st 954'}
50: {'_id': ObjectId('64a3a3d16aa8a805c84c8628'), 'name': 'Chuck', 'address': 'Main Road 989'}
51: {'_id': ObjectId('64a3a3d16aa8a805c84c8629'), 'name': 'Viola', 'address': 'Sideway 1633'}
***find_one***
{'_id': ObjectId('64a3a3096aa8a805c84c85f6'), 'name': 'priya', 'class': 'data science masters ', 'timing ': 'flexi'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

Answer(Q5):

In MongoDB, find() method is used to select documents in a collection and return a cursor to the selected documents. Cursor means a pointer that points to a document, when we use find() method it returns a pointer on the selected documents and returns one by one.

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In [10]:
all_record = coll_create.find()    
for idx, record in enumerate(all_record):
     print(f"{idx}: {record}")

0: {'_id': ObjectId('64a3a3096aa8a805c84c85f6'), 'name': 'priya', 'class': 'data science masters ', 'timing ': 'flexi'}
1: {'_id': ObjectId('64a3a3096aa8a805c84c85f7'), 'name': 'Amy', 'address': 'Apple st 652'}
2: {'_id': ObjectId('64a3a3096aa8a805c84c85f8'), 'name': 'Hannah', 'address': 'Mountain 21'}
3: {'_id': ObjectId('64a3a3096aa8a805c84c85f9'), 'name': 'Michael', 'address': 'Valley 345'}
4: {'_id': ObjectId('64a3a3096aa8a805c84c85fa'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
5: {'_id': ObjectId('64a3a3096aa8a805c84c85fb'), 'name': 'Betty', 'address': 'Green Grass 1'}
6: {'_id': ObjectId('64a3a3096aa8a805c84c85fc'), 'name': 'Richard', 'address': 'Sky st 331'}
7: {'_id': ObjectId('64a3a3096aa8a805c84c85fd'), 'name': 'Susan', 'address': 'One way 98'}
8: {'_id': ObjectId('64a3a3096aa8a805c84c85fe'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
9: {'_id': ObjectId('64a3a3096aa8a805c84c85ff'), 'name': 'Ben', 'address': 'Park Lane 38'}
10: {'_id': ObjectId('64a3a3096aa8a805c84c8600'), 'name': 'William', 'address': 'Central st 954'}
11: {'_id': ObjectId('64a3a3096aa8a805c84c8601'), 'name': 'Chuck', 'address': 'Main Road 989'}
12: {'_id': ObjectId('64a3a3096aa8a805c84c8602'), 'name': 'Viola', 'address': 'Sideway 1633'}
13: {'_id': ObjectId('64a3a3a86aa8a805c84c8603'), 'name': 'priya', 'class': 'data science masters ', 'timing ': 'flexi'}
14: {'_id': ObjectId('64a3a3a86aa8a805c84c8604'), 'name': 'Amy', 'address': 'Apple st 652'}
15: {'_id': ObjectId('64a3a3a86aa8a805c84c8605'), 'name': 'Hannah', 'address': 'Mountain 21'}
16: {'_id': ObjectId('64a3a3a86aa8a805c84c8606'), 'name': 'Michael', 'address': 'Valley 345'}
17: {'_id': ObjectId('64a3a3a86aa8a805c84c8607'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
18: {'_id': ObjectId('64a3a3a86aa8a805c84c8608'), 'name': 'Betty', 'address': 'Green Grass 1'}
19: {'_id': ObjectId('64a3a3a86aa8a805c84c8609'), 'name': 'Richard', 'address': 'Sky st 331'}
20: {'_id': ObjectId('64a3a3a86aa8a805c84c860a'), 'name': 'Susan', 'address': 'One way 98'}
21: {'_id': ObjectId('64a3a3a86aa8a805c84c860b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
22: {'_id': ObjectId('64a3a3a86aa8a805c84c860c'), 'name': 'Ben', 'address': 'Park Lane 38'}
23: {'_id': ObjectId('64a3a3a86aa8a805c84c860d'), 'name': 'William', 'address': 'Central st 954'}
24: {'_id': ObjectId('64a3a3a86aa8a805c84c860e'), 'name': 'Chuck', 'address': 'Main Road 989'}
25: {'_id': ObjectId('64a3a3a86aa8a805c84c860f'), 'name': 'Viola', 'address': 'Sideway 1633'}
26: {'_id': ObjectId('64a3a3c46aa8a805c84c8610'), 'name': 'priya', 'class': 'data science masters ', 'timing ': 'flexi'}
27: {'_id': ObjectId('64a3a3c46aa8a805c84c8611'), 'name': 'Amy', 'address': 'Apple st 652'}
28: {'_id': ObjectId('64a3a3c46aa8a805c84c8612'), 'name': 'Hannah', 'address': 'Mountain 21'}
29: {'_id': ObjectId('64a3a3c46aa8a805c84c8613'), 'name': 'Michael', 'address': 'Valley 345'}
30: {'_id': ObjectId('64a3a3c46aa8a805c84c8614'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
31: {'_id': ObjectId('64a3a3c46aa8a805c84c8615'), 'name': 'Betty', 'address': 'Green Grass 1'}
32: {'_id': ObjectId('64a3a3c46aa8a805c84c8616'), 'name': 'Richard', 'address': 'Sky st 331'}
33: {'_id': ObjectId('64a3a3c46aa8a805c84c8617'), 'name': 'Susan', 'address': 'One way 98'}
34: {'_id': ObjectId('64a3a3c46aa8a805c84c8618'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
35: {'_id': ObjectId('64a3a3c46aa8a805c84c8619'), 'name': 'Ben', 'address': 'Park Lane 38'}
36: {'_id': ObjectId('64a3a3c46aa8a805c84c861a'), 'name': 'William', 'address': 'Central st 954'}
37: {'_id': ObjectId('64a3a3c46aa8a805c84c861b'), 'name': 'Chuck', 'address': 'Main Road 989'}
38: {'_id': ObjectId('64a3a3c46aa8a805c84c861c'), 'name': 'Viola', 'address': 'Sideway 1633'}
39: {'_id': ObjectId('64a3a3d16aa8a805c84c861d'), 'name': 'priya', 'class': 'data science masters ', 'timing ': 'flexi'}
40: {'_id': ObjectId('64a3a3d16aa8a805c84c861e'), 'name': 'Amy', 'address': 'Apple st 652'}
41: {'_id': ObjectId('64a3a3d16aa8a805c84c861f'), 'name': 'Hannah', 'address': 'Mountain 21'}
42: {'_id': ObjectId('64a3a3d16aa8a805c84c8620'), 'name': 'Michael', 'address': 'Valley 345'}
43: {'_id': ObjectId('64a3a3d16aa8a805c84c8621'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
44: {'_id': ObjectId('64a3a3d16aa8a805c84c8622'), 'name': 'Betty', 'address': 'Green Grass 1'}
45: {'_id': ObjectId('64a3a3d16aa8a805c84c8623'), 'name': 'Richard', 'address': 'Sky st 331'}
46: {'_id': ObjectId('64a3a3d16aa8a805c84c8624'), 'name': 'Susan', 'address': 'One way 98'}
47: {'_id': ObjectId('64a3a3d16aa8a805c84c8625'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
48: {'_id': ObjectId('64a3a3d16aa8a805c84c8626'), 'name': 'Ben', 'address': 'Park Lane 38'}
49: {'_id': ObjectId('64a3a3d16aa8a805c84c8627'), 'name': 'William', 'address': 'Central st 954'}
50: {'_id': ObjectId('64a3a3d16aa8a805c84c8628'), 'name': 'Chuck', 'address': 'Main Road 989'}
51: {'_id': ObjectId('64a3a3d16aa8a805c84c8629'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [20]:
records = coll_create.find({'name': 'Sandy'})
for i in enumerate(records):
     print(i)

(0, {'_id': ObjectId('64a3a3096aa8a805c84c85fa'), 'name': 'Sandy', 'address': 'Ocean blvd 2'})
(1, {'_id': ObjectId('64a3a3a86aa8a805c84c8607'), 'name': 'Sandy', 'address': 'Ocean blvd 2'})
(2, {'_id': ObjectId('64a3a3c46aa8a805c84c8614'), 'name': 'Sandy', 'address': 'Ocean blvd 2'})
(3, {'_id': ObjectId('64a3a3d16aa8a805c84c8621'), 'name': 'Sandy', 'address': 'Ocean blvd 2'})

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

Answer(Q6):

sort() method will give the sorted result based on the condition applied.

In [3]:
# Sorting
mydoc = coll_create.find().sort("name")
for x in mydoc:
    print(x)

{'_id': ObjectId('64a3a3096aa8a805c84c85f7'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a3a3a86aa8a805c84c8604'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a3a3c46aa8a805c84c8611'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a3a3d16aa8a805c84c861e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a3a3096aa8a805c84c85ff'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a3a3a86aa8a805c84c860c'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a3a3c46aa8a805c84c8619'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a3a3d16aa8a805c84c8626'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a3a3096aa8a805c84c85fb'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a3a3a86aa8a805c84c8608'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a3a3c46aa8a805c84c8615'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a3a3d16aa8a805c84c8622'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a3a3096aa8a805c84c8601'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a3a3a86aa8a805c84c860e'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a3a3c46aa8a805c84c861b'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a3a3d16aa8a805c84c8628'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a3a3096aa8a805c84c85f8'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a3a3a86aa8a805c84c8605'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a3a3c46aa8a805c84c8612'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a3a3d16aa8a805c84c861f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a3a3096aa8a805c84c85f9'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a3a3a86aa8a805c84c8606'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a3a3c46aa8a805c84c8613'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a3a3d16aa8a805c84c8620'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a3a3096aa8a805c84c85fc'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a3a3a86aa8a805c84c8609'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a3a3c46aa8a805c84c8616'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a3a3d16aa8a805c84c8623'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a3a3096aa8a805c84c85fa'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a3a3a86aa8a805c84c8607'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a3a3c46aa8a805c84c8614'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a3a3d16aa8a805c84c8621'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a3a3096aa8a805c84c85fd'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a3a3a86aa8a805c84c860a'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a3a3c46aa8a805c84c8617'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a3a3d16aa8a805c84c8624'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a3a3096aa8a805c84c85fe'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a3a3a86aa8a805c84c860b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a3a3c46aa8a805c84c8618'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a3a3d16aa8a805c84c8625'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a3a3096aa8a805c84c8602'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64a3a3a86aa8a805c84c860f'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64a3a3c46aa8a805c84c861c'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64a3a3d16aa8a805c84c8629'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64a3a3c46aa8a805c84c861a'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64a3a3d16aa8a805c84c8627'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64a3a3096aa8a805c84c85f6'), 'name': 'priya', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('64a3a3a86aa8a805c84c8603'), 'name': 'priya', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('64a3a3c46aa8a805c84c8610'), 'name': 'priya', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('64a3a3d16aa8a805c84c861d'), 'name': 'priya', 'class': 'data science masters ', 'timing ': 'flexi'}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

Answer(Q7):
delete_one() -> delete single record that matches with the applied constraints.

delete_many() -> delete all the records that matches with the applied constraints.

drop() - drop is used to drop a collection from the DB.

In [4]:
records = coll_create.find({'name': 'Sandy'})
for i in enumerate(records):
     print(i)
        
coll_create.delete_one({'name': 'Sandy'})
print("After  delete_one")
records = coll_create.find({'name': 'Sandy'})
for i in enumerate(records):
     print(i)

(0, {'_id': ObjectId('64a3a3096aa8a805c84c85fa'), 'name': 'Sandy', 'address': 'Ocean blvd 2'})
(1, {'_id': ObjectId('64a3a3a86aa8a805c84c8607'), 'name': 'Sandy', 'address': 'Ocean blvd 2'})
(2, {'_id': ObjectId('64a3a3c46aa8a805c84c8614'), 'name': 'Sandy', 'address': 'Ocean blvd 2'})
(3, {'_id': ObjectId('64a3a3d16aa8a805c84c8621'), 'name': 'Sandy', 'address': 'Ocean blvd 2'})
After  delete_one
(0, {'_id': ObjectId('64a3a3a86aa8a805c84c8607'), 'name': 'Sandy', 'address': 'Ocean blvd 2'})
(1, {'_id': ObjectId('64a3a3c46aa8a805c84c8614'), 'name': 'Sandy', 'address': 'Ocean blvd 2'})
(2, {'_id': ObjectId('64a3a3d16aa8a805c84c8621'), 'name': 'Sandy', 'address': 'Ocean blvd 2'})

In [12]:
coll_create.delete_many({'name': 'Sandy'})
print("After  delete_one")
records = coll_create.find({'name': 'Sandy'})
for i in enumerate(records):
         print(i)

After  delete_one

In [13]:
coll_create.drop()
for i in coll_create.find():
    print(i)